TechFixV3.0Client/Connected Services/InventoryServiceReference/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInventory">
        <s:complexType />
      </s:element>
      <s:element name="GetInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryResult" type="tns:ArrayOfInventoryItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventoryItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryItem" nillable="true" type="tns:InventoryItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdatedAt" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInventoryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryByIdResult" type="tns:InventoryItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInventoryItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInventoryItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddInventoryItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInventoryItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInventoryItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteInventoryItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInventorySoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory" />
  </wsdl:message>
  <wsdl:message name="GetInventorySoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventoryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryById" />
  </wsdl:message>
  <wsdl:message name="GetInventoryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInventorySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInventory" />
  </wsdl:message>
  <wsdl:message name="UpdateInventorySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="AddInventoryItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddInventoryItem" />
  </wsdl:message>
  <wsdl:message name="AddInventoryItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddInventoryItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteInventoryItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteInventoryItem" />
  </wsdl:message>
  <wsdl:message name="DeleteInventoryItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteInventoryItemResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryServiceSoap">
    <wsdl:operation name="GetInventory">
      <wsdl:input message="tns:GetInventorySoapIn" />
      <wsdl:output message="tns:GetInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventoryById">
      <wsdl:input message="tns:GetInventoryByIdSoapIn" />
      <wsdl:output message="tns:GetInventoryByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <wsdl:input message="tns:UpdateInventorySoapIn" />
      <wsdl:output message="tns:UpdateInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddInventoryItem">
      <wsdl:input message="tns:AddInventoryItemSoapIn" />
      <wsdl:output message="tns:AddInventoryItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInventoryItem">
      <wsdl:input message="tns:DeleteInventoryItemSoapIn" />
      <wsdl:output message="tns:DeleteInventoryItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceSoap" type="tns:InventoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventory">
      <soap:operation soapAction="http://tempuri.org/GetInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryById">
      <soap:operation soapAction="http://tempuri.org/GetInventoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <soap:operation soapAction="http://tempuri.org/UpdateInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInventoryItem">
      <soap:operation soapAction="http://tempuri.org/AddInventoryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventoryItem">
      <soap:operation soapAction="http://tempuri.org/DeleteInventoryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryServiceSoap12" type="tns:InventoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventory">
      <soap12:operation soapAction="http://tempuri.org/GetInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryById">
      <soap12:operation soapAction="http://tempuri.org/GetInventoryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <soap12:operation soapAction="http://tempuri.org/UpdateInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInventoryItem">
      <soap12:operation soapAction="http://tempuri.org/AddInventoryItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventoryItem">
      <soap12:operation soapAction="http://tempuri.org/DeleteInventoryItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="InventoryServiceSoap" binding="tns:InventoryServiceSoap">
      <soap:address location="https://localhost:44310/InventoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryServiceSoap12" binding="tns:InventoryServiceSoap12">
      <soap12:address location="https://localhost:44310/InventoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>